.skill{
    color: rgb(179, 164, 164);
}
.contact:hover{
color:red;
font-size: large;
}
.prj:hover{
    color:red;
    font-size: large; 
}
.add:hover{
    color:red;
    font-size: large;   
}
.form:hover{
    color:red;
    font-size: large;
}
.first:hover{
    color:red;
    font-size: large;
}

img{
    border-radius:  100%;
}
hr{
    
    background-color: black;
    height: 5px;
}
.SKHR{
 background-color: blanchedalmond;
 height: 1PX;
}
#PROFILE{
    color:black;
    height: 20PX;
}
.firstimg{
    border-radius: 100%;
}
.dothr{
    border-style: dotted none none;
    border-width: 25px;
}
.secimg{
    text-align: left;
}
body{
    background-color:#f8f8f8 ;
}